Convite para participar de {{ event_type }} da UDF.

Um convite para participação de um {{ event_type }} da UDF foi realizada para {{ name }}.

Para aceitar o convite e participar do {{ event_type }}, clique no link abaixo.

Participar do {{ event_type }} -> {{ redirect_url }}

Porque nós acreditamos na família.

Mensagem automática

Universidade da Família
