A inscrição do evento {{ id }} - {{ event_name }} foi finalizada.

Nome líder: {{ organizator_name }}
CPF líder: {{ organizator_cpf }}
Quantidade de participantes: {{ participants }}
Data de início: {{ initial_date }}

Acesse o portal para imprimir os certificados.

Universidade da Família
Portal de Líderes
