Recuperando senha

Olá,

Recebemos uma solicitação para recuperação de senha do Portal do Líder - Universidade da Família.
Caso não tenha feito essa solicitação, por motivos de segurança, recomendamos a alteração da sua senha atual.

Para continuar clique no link abaixo.
Criar nova senha -> {{ link }}

Universidade da Família
Portal de Líderes
