O relatório da {{ lesson_title }} do {{ event_type }} {{ event_name }} foi enviado.

ID do evento: {{ event_id }}
Nome líder: {{ organizator_name }}
CPF líder: {{ organizator_cpf }}
Pedido oração: {{ pray_request }}
Oferta: {{ offer }}
Data do envio: {{ send_date }}

Acesse o portal para visualizar o {{ event_type }}.

Universidade da Família
Portal de Líderes
