<div>
  <div style="max-width:600px;font-size:16px;line-height:1.6">

    <strong style="margin-bottom:1em">POST PAYU.</strong>

    <pre style="margin-bottom:1em">{{ response }}</pre>

    <strong>Mensagem automática</strong><br>

    <span class="il">Universidade da Família</span>

    </p>
  </div>
</div>
